header  {
  text-align: center;
  padding: 48px 0;
  border-bottom: 1px solid lightgrey;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}


section {
  padding: 48px;
  height: 100%;
}

section:nth-child(1){
  border-right: 1px solid lightgrey;
}

#left-side {
  padding: 24px;
  width: 50vw;
  height: 100%
}

#right-side {
  padding:94px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.livingroom-todo{
  display: flex;
  flex-direction: column;
  gap:16px
}

